<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    title Super Gulpdd
  body
    include  ../partials/header

    block content

    include ../partials/footer

    script(src="js/main.js")