extends templates/layout

block content
  img(src="img/logo.svg")
  //- img(src="img/favicon.ico")
  //- img(src="img/chat_background.jpg")
  //- img(src="img/kakao.jpg")
  //- img(src="img/lifeFucked.jpeg")
  h1 Awesome Minimalism
