@import "_reset";
@import "_variables";

body {
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  margin: 1rem;
}

header,
footer {
  margin: 1rem;
}
